.menuTablasContainer {
  padding: 5px 0;
}

.menuTablas {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.ul-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 columnas de igual ancho */
  gap: 16px; /* Espaciado entre los elementos */
  padding: 0;
  margin: 0;
  list-style: none; /* Quitar los estilos de lista */
}

.li-list {
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
