.wall {
  width: 100vw;
  height: 70vh;
  padding: 2vw;
  box-sizing: border-box;
}
.wooden-table {
  width: 100vw;
  height: 30vh;
  padding: 2vw;
  box-sizing: border-box;
}

.stats {
  background-color: #8b5a2b;
  border: 5px #5a3825 solid;
  border-radius: 5px;
  width: 100%;
  padding: 2px 5px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.8rem;
  color: white;
  & b {
    color: white;
    font-size: 0.9rem;
  }
}

.link {
  color: #8b5a2b;
  cursor: pointer;
}

.tablasHeader {
  display: flex;
  justify-content: space-between;
  color: #8b5a2b;
}

.statsv2 {
  color: #8b5a2b;
  width: 250px;
  border-bottom-right-radius: 15px;
  padding: 5px;
  margin-top: -25px;
  margin-left: -25px;
  & .level {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 5px;
    & .level-number {
      background-color: #8b5a2b;
      border: 3px #5a3825 solid;
      border-radius: 5px;
      width: 100px;
      text-align: center;
      color: white;
      font-size: 2rem;
    }
    & .level-range {
      width: 100%;
      & .points {
        border: 3px #8b5a2b solid;
        color: white;
        font-size: 0.7rem;
        text-align: center;
        border-radius: 5px;
        width: 100%;
        height: 20px;
        & .points-fill {
          background-color: #5a3825; /* color de la barra de stats */
          height: 100%;

          transition: width 0.3s ease;
        }
      }
    }
  }
}

.historialPanel {
  padding-top: 6vw;
  & .historialData {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 15px;
    padding: 15px;
    max-height: 80vh;
    overflow-y: auto;
    & .historialRow {
      display: flex;
      justify-content: space-between;
      gap: 15px;
      padding: 15px 30px;
      background-color: #8b5a2b;
      border: 3px #5a3825 solid;
      border-radius: 15px;
      color: white;
      font-size: 1.5rem;
      & .historialRowOp {
        letter-spacing: 5px;
      }
    }
  }
}

/* Estilo base para el nuevo div */
.float-panel {
  position: fixed;
  top: -115%; /* Fuera de la pantalla */
  left: 0;
  padding: 2vw 4vw;
  width: 100vw;
  height: 100svh;
  background: rgba(255, 255, 255, 0.7); /* Fondo semitransparente */
  backdrop-filter: blur(10px); /* Difuminado */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25); /* Sombra */
  transition: transform 0.5s ease; /* Animación para aparecer */
  z-index: 1000; /* Asegura que esté sobre otros elementos */
  border-bottom: 4px solid #007c63;
  box-sizing: border-box;
}

/* Clase para mostrar el div */
.float-panel.show {
  transform: translateY(105%);
}

.float-panel.hide {
  transform: translateY(-115%);
}

.tablaResult {
  width: 50px;
  height: 50px;
  font-weight: bold;
}

.tablaResultActive {
  border-bottom: 3px white solid;
}

.tabla-enOrden-col {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.tabla-enOrden-2col {
  display: flex;
  justify-content: space-around;
}

.tabla-enOrden {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  font-size: 2rem;
}

/* Div que simula la mesa de madera */
.wooden-table {
  background-color: #5a3825; /* Fondo de marrón oscuro */
  background-image: repeating-linear-gradient(
    45deg,
    #8b5a2b,
    /* Marrón claro */ #8b5a2b 5px,
    /* Líneas finas */ transparent 2px,
    transparent 4px
  );
  background-size: 100px 100px; /* Tamaño del patrón */
  border-top: 8px solid #4e2c1a; /* Simula un borde más oscuro */
  box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.3); /* Sombra para dar profundidad */
  /*display: flex;
  justify-content: space-around;
  gap: 1vh;*/
}

.wooden-table-options {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.fun-div {
  position: fixed;
  top: 50%;
  right: -50vw; /* Comienza fuera de la pantalla */
  padding: 20px;
  background-color: white;
  color: #8d0000;
  font-size: 1.3rem;
  font-weight: bold;
  border-radius: 10px;
  border: 4px solid #8d0000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  animation: slideInOut 2s ease-in-out;
}

@keyframes slideInOut {
  0% {
    right: -50vw;
    opacity: 0;
  }
  20% {
    right: 30vw;
    opacity: 1;
    transform: scale(1) rotate(0deg);
  }
  80% {
    right: 30vw;
    opacity: 1;
    transform: scale(1) rotate(0deg);
  }
  100% {
    right: -50vw;
    opacity: 1;
  }
}

.randomTip {
  border: 3px #007c63 solid;
  padding: 10px 25px;
  border-radius: 15px;
  background-color: white;
  margin: 50px auto;
}

.randomTip-title {
  font-size: 1.2rem;
  font-weight: bold;
}

/* Estilos para pantallas de 800px o menos */
@media (max-width: 800px) {
  .tabla-enOrden {
    gap: 5px;
  }
}
